# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Prisma
/prisma/sqlite.db
/prisma/db.sqlite
/prisma/db.sqlite-journal

# Secrets
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Misc
.vercel
.turbo
*.log
